<!doctype html>
{% load static  %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "kya/css/Bootstrap.min.css" %}">

    <link rel="stylesheet"  type="text/css" href="{% static  "account/css/log_in.css"  %}">

    <script src="{% static  "kya/js/script.js"  %}"></script>


    <title> Kya-Login!</title>
  </head>
  <body>


    <div class="loginbox">
      <p3 class="nv4">Login to your Account</p3>
      <div class="forml">
      <form class="register-form" method="post">
        {% csrf_token %}
        <input type="text" placeholder="email-id or username"/>
        <input type="text" placeholder="Password"/><br/>
        <button >Login</button><br/>
        <div class="nv5">
        <a class="nv5" href="#">Forgot your Password !</a><br/>
        <a class="nv5" href="../signup">Don't have an account !</a>
        </div>
      </form>
      </div>
    </div>
    <div id="sidebar" class="nv2">
      <div class="toogle-btn" onclick="tooglesidebar()" >
          <span color></span>
          <span></span>
          <span></span>
      </div>
      <ul>
        <li><legend align="right"><a href="login.html" class="nv2" >Login</a>/<a href="signup.html" class="nv2" >Signup</a></li>
       <li ><a class="nv2"href="file:///C:/Users/AMITPARSHAD/Documents/know%20your%20aptitude%20bootstap/home.html#">Home</a></li>
       <li ><a class="nv2"href="#">About</a></li>
       <li><a class="nv2" href="#">Contact us</a></li>
       <li ><a class="nv2"href="#">Quiz</a></li>
       <li><a class="nv2" href="#">Gate Cs</a></li>
       <li><a class="nv2" href="#">C programming</a></li>
   </ul>
  </div>
   </body>
   </html>
