<!doctype html>
{% load static  %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "kya/css/Bootstrap.min.css" %}">

    <link rel="stylesheet"  type="text/css" href="{% static "account/css/log_in.css" %}">

    <script src="{% static "kya/js/script.js"  %}"></script>


    <title> Kya-Login!</title>
  </head>
  <body>


    <div class="loginbox2">
      <p class="nv6">Create Your Account</p>
      <div class="form">

      <form class="register-form" method="post">
                {% csrf_token %}
                  {{ form }}
        <!-- <input type="text" placeholder="First Name"/>
        <input type="text" placeholder="Middle Name"/>
        <input type="text" placeholder="Last name"/>
        <input type="text" placeholder="Email-id"/>
        <input type="text" placeholder="Pasword"/>

        <input type="text" placeholder="Confirm Password"/><br/> -->

        <button >Signup</button><br/>
        <div class="nv5">
        <a class="nv7" href="../login">Already have an account</a><br/>

        </div>
      </form>
      </div>
    </div>
    <div id="sidebar" class="nv2">
      <div class="toogle-btn" onclick="tooglesidebar()" >
          <span color></span>
          <span></span>
          <span></span>
      </div>
      <ul>
        <li><legend align="right"><a href="login.html" class="nv2" >Login</a>/<a href="account/signup" class="nv2" >Signup</a></li>
       <li ><a class="nv2"href="home.html#">Home</a></li>
       <li ><a class="nv2"href="#">About</a></li>
       <li><a class="nv2" href="#">Contact us</a></li>
       <li ><a class="nv2"href="#">Quiz</a></li>
       <li><a class="nv2" href="#">Gate Cs</a></li>
       <li><a class="nv2" href="#">C programming</a></li>
   </ul>
  </div>
   </body>
   </html>
