<html>
<head>
<title>Know your Aptitude</title>
<style type="text/css">
.c1{color : blue; font-weight:bold; font-size:48;align:left;}
.c2{color: skyblue; font-weight:italic; font-size:18; align:Right;}
.c3{color: white; font-weight:italic; font-size:18;align:center;}

.c4{color: white; font-weight:italic; font-size:18;align:Right;}
</style>
</head>
<body>
  {% block code %}


  {% endblock %}

  <table border="5">

      <tr>
          <th class="c1" bgcolor="skyblue" width="10%" align="left"> Know Your Aptitude <legend class="c4" align="right">Best place to test your preparation


          </p> </th>

      </tr>
  </table>
  <div id="f1" align="right" >

  </div>



</body>

</html>
