{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "kya/css/Bootstrap.min.css" %}">

    <link rel="stylesheet"  type="text/css" href="{% static "kya/css/kya_css.css" %}">
    <script src="{% static    "kya/js/script.js" %}"></script>

    <title>Kya</title>
  </head>
  <body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  <nav class="navbar" navbar-default navbar-fixed-top>
  <div class="navbar">
    <p class="nv">Know Your Aptitude </p><legend align="right"><a href="account/login" class="nv2" >Login</a>/<a href="account/signup" class="nv2" >Signup</a>
     <div id="sidebar" class="nv2">
    <div class="toogle-btn" onclick="tooglesidebar()" >
        <span color></span>
        <span></span>
        <span></span>
    </div>
    <ul>
      <li><legend align="right"><a href="account/login" class="nv2" >Login</a>/<a href="account/signup" class="nv2" >Signup</a></li>
     <li ><a class="nv2"href="/">Home</a></li>
     <li ><a class="nv2"href="#">About</a></li>
     <li><a class="nv2" href="#">Contact us</a></li>
     <li ><a class="nv2"href="#">Quiz</a></li>
     <li><a class="nv2" href="#">Gate Cs</a></li>
     <li><a class="nv2" href="#">C programming</a></li>
 </ul>
</div>
    </legend>
    <legend><p2 class="nv1">Best place for your preparation</p2></legend>


  </div></nav>
{% if request.user.is_authenticated %}
  <a href="account/logout">Logout</a>
  <p>{{request.user}}</p>
{% else %}
  <a href="account/login">Login</a>
{% endif %}

  </body>

</html>
